<div class="app bg-light">
  <div class="layout h-100">
    <div class="contact-list">
      <ul class="list-unstyled">
        <li *ngFor="let contact of contacts" class="d-flex flex-column">
          <button class="btn btn-outline-secondary btn-block text-truncate justify-content-center p-3 m-1"
            [ngClass]="{'active': contact == selectedContact}"
            (click)="selectContact(contact)">
            {{contact.name}}
          </button>
        </li>
      </ul>
    </div>
    <div class="add-contact">
      <app-contact-editor (updateRequest)="getContacts()"></app-contact-editor>
    </div>
    <div class="contact-detail">
      <app-contact-detail (saveRequest)="saveContacts()"
      (deleteRequest)="deleteContact($event)"
       [contact]="selectedContact"></app-contact-detail>
    </div>

  </div>
</div>
